.code .hljs {
  color: #24292e;
  background: #ffffff;
}

.code .hljs-doctag,
.code .hljs-keyword,
.code .hljs-meta .hljs-keyword,
.code .hljs-template-tag,
.code .hljs-template-variable,
.code .hljs-type,
.code .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

.code .hljs-title,
.code .hljs-title.class_,
.code .hljs-title.class_.inherited__,
.code .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

.code .hljs-attr,
.code .hljs-attribute,
.code .hljs-literal,
.code .hljs-meta,
.code .hljs-number,
.code .hljs-operator,
.code .hljs-variable,
.code .hljs-selector-attr,
.code .hljs-selector-class,
.code .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

.code .hljs-regexp,
.code .hljs-string,
.code .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

.code .hljs-built_in,
.code .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

.code .hljs-comment,
.code .hljs-code,
.code .hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.code .hljs-name,
.code .hljs-quote,
.code .hljs-selector-tag,
.code .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.code .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.code .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.code .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.code .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.code .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.code .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.code .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.code .hljs-char.escape_,
.code .hljs-link,
.code .hljs-params,
.code .hljs-property,
.code .hljs-punctuation,
.code .hljs-tag {
  /* purposely ignored */
}
