@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body,
#root {
  height: 100%;
}

.cm-editor {
  padding: 1em 2em 10em;
  max-width: 70em;
  min-height: 100%;
  margin: 0 auto;
  outline: none !important;
}

.cm-scroller {
  min-height: 70vh;
}

.cm-editor div.cm-scroller {
  font-size: 1.03em;
  font-family: "Inter var", sans-serif;
  font-feature-settings: "tnum" 1;
  line-height: 1.6em;
}
.cm-content {
  max-width: 100%;
}

.cm-line {
  white-space: pre-wrap;
}
.cm-line .cm {
  opacity: 0.5;
}
.cm-line h1,
.cm-line h2,
.cm-line h3,
.cm-line h4,
.cm-line.cm-copy-header {
  font-size: 1.2em;
  font-weight: 500;
  padding: 1em 0 0.3em;
  display: block;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  letter-spacing: -0.013em;
}
.cm-line h1,
.cm-line.cm-copy-header--1 {
  font-size: 2em;
  line-height: 1.2em;
}
.cm-line h2,
.cm-line.cm-copy-header--2 {
  font-size: 1.5em;
  line-height: 1.2em;
}
.cm-line h3,
.cm-line.cm-copy-header--3 {
  font-size: 1.4em;
  line-height: 1.2em;
}

.cm-copy-link-raw,
.cm-copy-link {
  display: inline;
  cursor: pointer;
  pointer-events: all;
}
.cm-copy-link-raw .ͼv {
  color: #0969da;
}

.cm-copy-hr:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid rgb(225, 228, 232);
  transform: translate(0, 0.7em);
}
.cm-editor .cm-copy-blockquote {
  position: relative;
  display: block;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
  padding: 0.6em 0.9em;
  background: #f6f8fa;
}

pre,
.cm-code {
  background: #f6f8fa;
  padding: 0.6em 1em !important;
  margin: -0.9em -1em !important;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}
.cm-line:not(.cm-code) + .cm-code {
  margin-top: 0 !important;
}
.cm-code + .cm-line:not(.cm-code) {
  margin-top: 1em !important;
}
.cm-activeLine.cm-code {
  z-index: 10;
  background: #f6f8fa;
}
.cm-code .ͼx {
  background: transparent;
}
.cm-code.cm-activeLine + .cm-line .cm-instruction {
  display: inline-block;
}
.cm-editor .cm-list-item {
  display: list-item;
  margin: 0.3em 0 0.3em 1em;
}
.cm-editor .cm-list-item--ul::marker {
  content: "•";
}
.cm-editor .cm-list-item--ol {
  display: list-item;
  list-style-type: decimal;
}
.cm-editor .cm-list-item--ol::marker {
  content: attr(data-index);
}

.cm-autocomplete-wrapper {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  min-width: 10em;
  min-height: 2em;
  padding: 0.3em 0.6em;
  transform: translate(0, 0.2em);
}

.BlockComponentControlsWrapper {
  pointer-events: none;
}
.BlockComponentControls {
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: translate(0, 0.5em);
  box-shadow: 0 -0.3em 0.5em -0.3em rgba(50, 50, 93, 0.06);
}
.cm-activeLine .BlockComponentControlsWrapper,
.BlockComponentControlsWrapper:focus-within,
.BlockComponentWrapper:hover .BlockComponentControlsWrapper {
  pointer-events: all;
}
.cm-activeLine .BlockComponentControls,
.BlockComponentControls:focus-within,
.BlockComponentWrapper:hover .BlockComponentControls {
  opacity: 1;
  transform: translate(0, 1px); /* for border overlap */
}

.cm-line .BlockComponentControls input {
  caret-color: #000;
}
.cm-editor div.cm-line ::selection {
  background: #bddfff !important;
}
html body div.cm-editor .cm-line::selection {
  background: #bddfff !important;
}
.cm-line .BlockComponentControls input::selection {
  background: #bddfff !important;
}
.cm-line .BlockComponentControls textarea::selection {
  background: #bddfff !important;
}

.cm-line .cm-instruction {
  display: none;
  color: rgb(175, 178, 182);
  padding: 0;
}
.cm-copy-header .cm-instruction:first-child {
  display: inline-block !important;
  width: 0;
  opacity: 0;
}
.cm-copy-header .cm-instruction:first-child {
  margin-right: -0.3ch;
}
.cm-image-container {
  display: inline-block;
  margin: 0 auto;
}
.cm-image,
.cm-copy-link {
  display: none;
}
.cm-html-container a,
.cm-copy-link-alt,
.cm-copy-link-alt .cm-copy-link {
  color: #0969da !important;
  display: inline !important;
}
.cm-image-alt .cm-image {
  display: inline !important;
}
.cm-image-alt > .cm-image > span {
  color: rgb(75, 78, 82, 0.8);
  text-decoration: none;
}
.cm-image-alt {
  color: rgb(75, 78, 82);
  font-style: italic;
  text-align: center;
  display: inline;
  width: 100%;
}
.cm-image-container + .cm-line {
  text-align: center;
}

.cm-table {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  white-space: nowrap;
}
.cm-table .cm-instruction {
  display: inline !important;
}

.cm-copy-html-tag {
  display: none;
}
.cm-activeLine .cm-html-container {
  display: none;
}
.cm-line:not(.cm-activeLine) .cm-image-container ~ .cm-image-alt {
  display: block;
  width: 100%;
}

.cm-activeLine .cm-copy-html-tag,
.cm-activeLine .cm-instruction,
.cm-activeLine .ͼu,
.cm-activeLine .cm-image,
.cm-activeLine + .cm-code-start,
.cm-activeLine + .cm-code-start .cm-instruction,
.cm-activeLine + .cm-image-container + .cm-line .cm-image,
.cm-activeLine + .cm-image-container + .cm-line .cm-image-alt,
.cm-activeLine + .cm-image-container + .cm-line .cm-instruction,
.cm-activeLine .cm-copy-link,
.cm-activeLine .cm-image-alt {
  display: inline !important;
  width: auto !important;
  opacity: 1 !important;
}
.cm-activeLine .cm-instruction:first-child {
  margin-right: 0 !important;
}
.cm-activeLine .cm-image:first-of-type:after {
  display: none;
}

.cm-copy-hr {
  color: transparent;
}
.cm-activeLine .cm-copy-hr {
  color: inherit;
}
.cm-activeLine .cm-copy-hr:after {
  display: none;
}

.cm-line table {
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.cm-line table th {
  font-weight: 600;
}

.cm-line table th,
.cm-line table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.cm-line table tr {
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.cm-line table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
