@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body,
#root {
  height: 100%;
}

.cm-editor {
  padding: 2em 1em 10em;
  max-width: 60em;
  min-height: 100%;
  margin: 0 auto;
  outline: none !important;
}

.cm-scroller {
}

.cm-editor div.cm-scroller {
  font-size: 1.1em;
  font-family: "Inter var", sans-serif;
  font-feature-settings: "tnum" 1;
}

.cm-line {
  white-space: pre-wrap;
}
.cm-line .cm {
  opacity: 0.5;
}

.cm-copy-header {
  font-size: 1.2em;
  font-weight: 900;
  padding: 1em 0 0;
  display: inline-block;
}
.cm-copy-header--1 {
  font-size: 2em;
}
.cm-copy-header--2 {
  font-size: 1.7em;
}
.cm-copy-header--3 {
  font-size: 1.4em;
}

.cm-copy-link {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.cm-copy-hr:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid rgb(225, 228, 232);
  transform: translate(0, 0.7em);
}
.cm-editor .cm-copy-blockquote {
  position: relative;
  display: block;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
  padding: 0.6em 0.9em;
  background: #f6f8fa;
}

.cm-code {
  background: #f6f8fa;
}
.cm-code .ͼx {
  background: transparent;
}
.cm-code.cm-activeLine + .cm-line .cm-instruction {
  display: inline-block;
}
.cm-editor .cm-list-item {
  display: list-item;
  margin: 0.6em 0 0.9em 1em;
}
.cm-editor .cm-list-item--ul::marker {
  content: "•";
}
.cm-editor .cm-list-item--ol {
  display: list-item;
  list-style-type: decimal;
}
.cm-editor .cm-list-item--ol::marker {
  content: attr(data-index);
}

.cm-autocomplete-wrapper {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  min-width: 10em;
  min-height: 2em;
  padding: 0.3em 0.6em;
  transform: translate(0, 0.2em);
}

.cm-line .BlockComponentWrapper input {
  caret-color: #000;
}
.cm-editor div.cm-line ::selection {
  background: #bddfff !important;
}
html body div.cm-editor .cm-line::selection {
  background: #bddfff !important;
}
.cm-line .BlockComponentWrapper input::selection {
  background: #bddfff !important;
}
.cm-line .BlockComponentWrapper textarea::selection {
  background: #bddfff !important;
}

.cm-line .cm-instruction {
  display: none;
  color: rgb(175, 178, 182);
}
.cm-copy-header:first-child .cm-instruction {
  display: inline-block !important;
  width: 0;
  opacity: 0;
}
.cm-copy-header:first-child .cm-instruction:first-child {
  margin-right: -0.5ch;
}
.cm-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cm-image,
.cm-copy-link {
  display: none;
}
.cm-copy-link-alt,
.cm-copy-link-alt .cm-copy-link {
  color: #0969da !important;
  display: inline !important;
}
.cm-image-alt .cm-image {
  display: inline !important;
}
.cm-image-alt {
  color: rgb(75, 78, 82);
  font-style: italic;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.cm-activeLine .cm-instruction,
.cm-activeLine .ͼu,
.cm-activeLine .cm-image,
.cm-activeLine + .cm-image-container + .cm-line .cm-image,
.cm-activeLine + .cm-image-container + .cm-line .cm-image-alt,
.cm-activeLine + .cm-image-container + .cm-line .cm-instruction,
.cm-activeLine .cm-copy-link,
.cm-activeLine .cm-image-alt {
  display: inline !important;
  width: auto !important;
  opacity: 1 !important;
}
.cm-activeLine .cm-instruction:first-child {
  margin-right: 0 !important;
}
.cm-activeLine .cm-image:first-of-type:after {
  display: none;
}

.cm-copy-hr {
  color: transparent;
}
.cm-activeLine .cm-copy-hr {
  color: inherit;
}
.cm-activeLine .cm-copy-hr:after {
  display: none;
}
