.sp-preview-iframe {
  outline: none;
  width: 100%;
  border: none;
}

.sandbox-wrapper .sp-loading:before {
  content: "Loading...";
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 1.2em;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  font-style: italic;
}
